@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Add Countries</title>

</head>

<body>

    <div>

        <h3>Data Added Successfully </h3>

    </div>

</body>

</html>
